.rps-header {
  text-align: center;
}

.rps-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.rps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid steelblue;
  width: 80%;
  height: 80vh;
  border-radius: 5px;
}

.result-img {
  width: 200px
}