.rps-main-header{
    text-align: center;
}
.rps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rps-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    height: 50vh
}

.rps-start-button{

}